# 本地开发环境示例
VITE_APP_NAME=91约拍Pro
VITE_APP_VERSION=1.0.0
VITE_APP_BASE_API=http://127.0.0.1:9098/prod-api
VITE_APP_SITE_URL=http://127.0.0.1:5173
VITE_APP_PRIVACY_URL=http://127.0.0.1:5173/privacy
VITE_APP_AGREEMENT_URL=http://127.0.0.1:5173/agreement
VITE_APP_LOGO=/static/logo.png
